@font-face {
    font-family: 'Bebas Neue';
    src: url(fonts/BebasNeue-Regular.ttf);
}

body {
    background-color: #0f0f0f;
}
h1 {
    color: #8f9400;
    font-family: "Bebas Neue", serif;
}
p {
    color: #8f9400;
}