@font-face {
    font-family: 'Bebas Neue Bold';
    font-style: BOLD;
    font-weight: 2;
    font-display: swap;
    src: url(fonts/BebasNeue-Regular.ttf) format('ttf');
}

body {
    background-color: #0f0f0f;
}
h1 {
    color: #8f9400;
    font-family: "Bebas Neue Bold", serif;
}
p {
    color: #8f9400;
}